@{
    ViewData["Title"] = "Introduction";
}

<html lang="en-ca">
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h3 class="display-4">Rojan Baral</h3>
    </body>
</html>

