@{
    ViewData["Title"] = "Introduction";
}

<html lang="en-ca">
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h3 class="display-4">Rojan Baral</h3>
    </body>
</html>

@section Intro{
    <p>My name is Rojan Baral. I am a student at Cambrian College. Currently, I am studying Mobile Application Developement.</p>
}