@{
    ViewData["Title"] = "Introduction";
}

<html lang="en-ca">
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <div class = "text-center">
        <h3>Rojan Baral</h3>
        </div>

    <form method="post" class="text-center">
            <div>
             <label for="FirstNumber">First Number:</label>
            <input type="number" name="FirstNumber" value="" />
        </div><br />
            <div>
            <label for="SecondNumber">Second Number:</label>
            <input type="number" name="SecondNumber" value="" />
        </div><br />
            <div>
                <label for="Output">Output:</label>
                <input type="number" name="Output" value="" />
            </div>
            <div>
                <br />
                <input type="submit" value="Submit" class="submit" />
            </div>
    </form>
    </body>
</html>

@section Intro{
    <p>My name is Rojan Baral. I am a student at Cambrian College. Currently, I am studying Mobile Application Developement.</p>
}